<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Basic Blogs | <%= title %> </title>
    <style>
        /* This style tag needs to be in the head */

        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap');

        body{
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
            font-family: 'Manrope', sans-serif;
        }
        h1 {
            font-weight: 500;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 400px;
        }
        label {
            margin-bottom: 5px;
        } 
    </style>
</head>
