<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Basic Blogs | <%= title %> </title>
    <style>
        /* This style tag needs to be in the head */
        form {
            display: flex;
            flex-direction: column;
            width: 400px;
        }
    
        label {
            margin-bottom: 5px;
        } 
    </style>
</head>
</head>