<html lang="en">
    <%- include('./partials/header.ejs')%>

    <body>

        <%- include('./partials/nav.ejs')%>
        
        <div class="blogs form">
            <form>
                <label for="title">Blog Title:</label>
                <input type="text" id="title" required>
                <label for="snippet">Blog Snippet:</label>
                <input type="text" id="snippet" required>
                <label for="body">Blog body:</label>
                <textarea type="text" id="body" required></textarea>
                <button>Submit</button>
            </form>
            <h2>All blogs</h2>
        </div>
        <%- include('./partials/footer.ejs')%>
    </body>
</html>